.box {
  height: 6.25rem;
  width: 6.25rem;
  margin: 5px;
  padding: 5px;
  color: var(--white-color);
  font-size: 0.813rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-box {
  display: flex;
  flex-wrap: wrap;
}

.default-color-box {
  background-color: var(--default-color);
}

.primary-color-box {
  background-color: var(--primary-color);
}

.secondary-color-box {
  background-color: var(--secondary-color);
}

.danger-color-box {
  background-color: var(--danger-color);
}

.success-color-box {
  background-color: var(--success-color);
  color: var(--secondary-color);
}

.warning-color-box {
  background-color: var(--warning-color);
  color: var(--secondary-color);
}