@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&family=Roboto:wght@300&display=swap');

/* Color scheme */
:root {
  --primary-color: #276EF1;
  --secondary-color: #666666;
  --default-color: #000000;
  --danger-color: #FCC5C5;
  --success-color: #84F1C9;
  --warning-color: #FFE7C5;

  --primary-hover: #0E55D7;
  --secondary-hover: #808080;
  --danger-hover: #DC3545;
  --success-hover: #1B7052;
  --warning-hover: #FF9204;

  --white-color: #fff;
  --off-white: #ddd;
  --light-grey: #f6f8fa;
  --dark-grey: #112233;
}


/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Default Settings */

a {
  text-decoration: none;
  list-style: none;
  color: var(--default-color);
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.background-dark {
  background-color: var(--default-color);
  color: #fff;
  height: 100vh;
}

.container {
  max-width: 76.25rem;
  margin: 0px auto;
}

#navbar {
  padding: 1.25rem 0.625rem;
  display: flex;
  justify-content: center;
}

#icon {
  font-size: 2rem;
}

#icon a {
  color: var(--white-color);
}

#menu {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu-list {
  list-style: none;
}

.menu-list a {
  color: var(--white-color);
}

.menu-list a:hover {
  color: var(--primary-color);
}

#welcome {
  padding: 0 0.625rem;
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.welcome-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  /* to make children of flex container inline */
}

.welcome-left h1 {
  font-size: 3rem;
  margin-bottom: 1.25rem;
  line-height: 4rem;
}

.welcome-left button {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  padding: 0.625rem 1.875rem;
  font-size: 1.125rem;
  border-radius: 3px;
  margin-top: 0.625rem;
}

.welcome-left button a{
  color: var(--white-color);
}

.welcome-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.welcome-right img {
  height: 28.125rem;
  margin-left: auto;
  /* Helps in aligning items when parent container has only 1 item */
}

#content {
  display: flex;
  padding: 3.125rem 0;
  padding-bottom: 6.25rem;
  gap: 3.125rem;
}

.content-left {
  width: 50%;
  display: flex;
}

.content-left img {
  height: 23.75rem;
  margin-right: auto;
}

.content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-right p {
  font-size: 1.375rem;
  line-height: 2rem;
  color: var(--secondary-color);
}

.content-right button {
  background-color: var(--primary-color);
  border: none;
  font-size: 1.125rem;
  padding: 0.625rem 1.875rem;
  margin: 1.25rem 0px;
  /* width: 180px; */
  border-radius: 3px;
}

.content-right button a {
  color: var(--white-color);
  cursor: pointer;
}

.background-light-grey {
  background-color: var(--light-grey);
  color: var(--default-color);
}

#info {
  display: flex;
  padding: 3.125rem 0;
  gap: 3.125rem;
  justify-content: center;
  align-items: center;
}

.info-left {
  width: 50%;
}

.info-left h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 0.938rem;
  color: var(--default-color);
}

.info-left p {
  font-size: 1.375rem;
  line-height: 2rem;
  color: var(--secondary-color);
}

.info-right {
  width: 50%;
}

.background-dark-grey {
  background-color: var(--dark-grey);
  color: var(--off-white);
}

#footer {
  padding: 0.625rem;
  text-align: center;
}

.footer-description {
  padding-top: 0.625rem;
  font-size: 1rem;
}

.footer-description span {
  color: var(--primary-color);
}

#footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin: 1rem;
}

#footer ul li {
  list-style: none;
  font-size: 1.5rem;
}

#footer ul li a {
  color: var(--off-white);
}

#footer ul li a:hover {
  color: var(--primary-color);
}