@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&family=Roboto:wght@300&display=swap');

.py-1x {
  padding: 0.625rem;
}

.py-2x {
  padding: 1.25rem;
}

.py-3x {
  padding: 1.875rem;
}

.mg-1x {
  margin: 0.625rem;
}

.mg-2x {
  margin: 1.25rem;
}

.mg-3x {
  margin: 1.875rem;
}

.flex {
  display: flex;
}

.vertical-center {
  align-items: center;
}

.horizontal-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.right {
  margin-left: auto;
}

.gap-1x {
  gap: 0.625rem;
}

.gap-2x {
  gap: 1.25rem;
}

.gap-3x {
  gap: 1.875rem;
}

.heading1 {
  font-size: 3rem;
  line-height: 4rem;
}

.heading2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.heading3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.heading4 {
  font-size: 1.25rem;
}

.py-bottom-1x {
  padding-bottom: 0.625rem;
}

.py-bottom-2x {
  padding-bottom: 1.25rem;
}

.py-bottom-3x {
  padding-bottom: 1.875rem;
}

.py-top-1x {
  padding-top: 0.625rem;
}

.mg-bottom-1x {
  margin-bottom: 0.625rem;
}

.mg-bottom-2x {
  margin-bottom: 1.25rem;
}

.mg-bottom-3x {
  margin-bottom: 1.875rem;
}

.mg-right-1x {
  margin-right: 0.625rem;
}

.mg-right-2x {
  margin-right: 1.25rem;
}

.mg-right-3x {
  margin-right: 1.875rem;
}

.mg-top-1x {
  margin-top: 0.625rem;
}




.text-size {
  font-size: 1.125rem;
  line-height: 1.563rem;
}

.text-grey {
  color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color);
}

.bolder {
  font-weight: bolder;
}

.code {
  max-height: 9.375rem;
  overflow: scroll;
  overflow-x: hidden;
  /* overflow-x: visible;
  max-width: 60rem; */
}

.background-cover {
  background-color: var(--background-cover);
  border: 1px solid var(--secondary-color);
}

.round {
  border-radius: 50%;
}

.width-300 {
  width: 18.75rem;
}