.list {
  background-color: var(--white-color);
  width: 240px;
}

.list-title {
  padding: 1rem;
}

.list li {
  padding: 0.7rem 1.1rem;
}

.list li:hover{
  cursor: pointer;
  color : var(--primary-color);
}

.checkbox {
  padding: 0.7rem 1.1rem
}

.stacked-list {
  background-color: var(--white-color);
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0.75rem;
}

.stacked-list li:hover{
  cursor: pointer;
  color : var(--primary-color);
}