<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SKY UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css"
    integrity="sha512-Vj6gPCk8EZlqnoveEyuGyYaWZ1+jyjMPg8g4shwyyNlRQl6d3L9At02ZHQr5K6s5duZl/+YKMnM3/8pDhoUphg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/CSS/component.css">
</head>

<body>
  <div class="container">
    <header id="navbar" class="mg-1x flex vertical-center">
      <h1 id="icon"><a href="/index.html">SKY UI</a></h1>
      <ul id="menu" class="flex gap-3x">
        <li class="menu-list"><a href="/index.html">Home</a></li>
        <li class="menu-list"><a href="/Get-Started/introduction.html">Docs</a></li>
        <li class="menu-list"><a href="https://github.com/som749898/sky-ui" target="_blank">Github</a></li>
      </ul>
    </header>
    <div class="main-content flex">
      <div class="component-list mg-1x">
        <div class="get-started py-bottom-2x">
          <h3 class="heading4">Get Started</h3>
          <ul>
            <li><a href="/Get-Started/introduction.html">Introduction</a></li>
            <li><a href="/Get-Started/color.html">Color</a></li>
            <li><a href="/Get-Started/typography.html">Typography</a></li>
          </ul>
        </div>
        <div class="components">
          <h3 class="heading4">Components</h3>
          <ul>
            <li><a href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li><a href="/Components/Alert/alert.html">Alert</a></li>
            <li><a href="/Components/Badge/badge.html">Badge</a></li>
            <li><a href="/Components/Button/button.html">Button</a></li>
            <li><a href="/Components/Card/card.html">Card</a></li>
            <li><a href="/Components/Image/image.html">Image</a></li>
            <li><a href="/Components/Input/input.html">Input</a></li>
            <li><a href="/Components/List/list.html">List</a></li>
            <li><a href="/Components/Text-Utilities/text.html">Text Utility</a></li>
          </ul>
        </div>
      </div>
      <div class="content mg-1x">
        <h2 class="heading2 py-bottom-1x">Text Utilities</h2>
        <p class="text-size py-bottom-3x">Documentation and examples for common text utilities to control alignment, sizing, colored text.</p>
        <h3 class="heading3 py-bottom-1x">Text Sizes</h3>
        <p class="text-size py-bottom-1x">Text Sizes give your the freedom of chosing what kind of size you want in your project for diffrent types of text's.</p>
        <div class="background-cover flex flex-column vertical-center horizontal-center mg-bottom-1x py-1x">
          <div class="heading1">This is an h1 heading</div>
          <div class="heading2">This is an h2 heading</div>
          <div class="heading3">This is an h3 heading</div>
          <div class="heading4">This is an h4 heading</div>
        </div>
        <pre class="mg-bottom-3x"><code class="language-html">
          &ltdiv class="heading1">This is an h1 heading&lt/div>
          &ltdiv class="heading2">This is an h2 heading&lt/div>
          &ltdiv class="heading3">This is an h3 heading&lt/div>
          &ltdiv class="heading4">This is an h4 heading&lt/div>
        </code></pre>
        <h3 class="heading3 py-bottom-1x">Small Text</h3>
        <p class="text-size py-bottom-1x">For small text you can use the class names txt-small and txt-xs.</p>
        <div class="background-cover flex flex-column vertical-center horizontal-center mg-bottom-1x py-1x">
          <p class="text-small">This is a small text.</p>
          <p class="text-xs">This is an extra small text.</p>
        </div>
        <pre class="mg-bottom-3x"><code class="language-html">
          &ltp class="text-small">This is a small text.&lt/p>
          &ltp class="text-xs">This is an extra small text.&lt/p>
        </code></pre>
        <h3 class="heading3 py-bottom-1x">Colored Text</h3>
        <p class="text-size py-bottom-1x">Convey meaning through color with a handful of color utility classes.</p>
        <div class="background-cover flex flex-column vertical-center horizontal-center mg-bottom-1x py-1x">
          <div class="text-primary">Primary Text</div>
          <div class="text-secondary">Secondary Text</div>
          <div class="text-success">Success Text</div>
          <div class="text-error">Error Text</div>
          <div class="text-warning">Warning Text</div>
        </div>
        <pre class="mg-bottom-3x"><code class="language-html">
          &ltdiv class="text-primary">Primary Text&lt/div>
          &ltdiv class="text-secondary">Secondary Text&lt/div>
          &ltdiv class="text-success">Success Text&lt/div>
          &ltdiv class="text-error">Error Text&lt/div>
          &ltdiv class="text-warning">Warning Text&lt/div>
        </code></pre>
        <h3 class="heading3 py-bottom-1x">Aligned Text</h3>
        <p class="text-size py-bottom-1x">Easily realign text to components with text alignment classes.</p>
        <div class="background-cover flex flex-column mg-bottom-1x py-1x">
          <div class="align-self-center">Center Aligned</div>
          <div class="align-self-left">Left Aligned</div>
          <div class="align-self-right">Right Aligned</div>
        </div>
        <pre class="mg-bottom-3x"><code class="language-html">
          &ltdiv class="flex flex-column">
            &ltdiv class="align-self-center">Center Aligned&lt/div>
            &ltdiv class="align-self-left">Left Aligned&lt/div>
            &ltdiv class="align-self-right">Right Aligned&lt/div>
          &lt/div>
        </code></pre>
        <div class="link">
          <ul class="flex vertical-center">
            <li class="left bolder"><a href="#">&lt; List</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
    integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script src="https://kit.fontawesome.com/8c3205e455.js" crossorigin="anonymous"></script>
</body>

</html>