.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-success {
  color: var(--success-color);
}

.text-error {
  color: var(--error-color);
}

.text-warning {
  color: var(--warning-color);
}

.align-self-center {
  align-self: center;
}

.align-self-left {
  align-self: flex-start;
}

.align-self-right {
  align-self: flex-end;
}

.text-small {
  font-size: 0.75rem;
}

.text-xs {
  font-size: 0.5rem;
}